body {
    background-color: #7f6c86;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}

#titre {
    font-size: 2em;
    text-align: center;
    color: #333;
    font-weight: bold;
}

#déconnexion {
    border: none;
    border-radius: 15px;
    background-color: #2626bb;
    color: white;
    padding: 10px 20px;
    margin-left: auto;
    cursor: pointer;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: auto;
    padding: 0px 20px 20px 20px;
    justify-content: center;
    text-align: center;
}

.carte {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #2626bb;
    cursor: pointer;
}

a:hover {
    color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}